.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px 10px;
  background-color: rgb(183, 206, 255);
  box-sizing: border-box;
}

.header-left, .header-center, .header-right{
  flex: 1;
  display: flex;
  align-items: center;
}

.header-left{
  justify-content: flex-start;
  display: flex;
}

.header-left img{
  max-width: 10%;
  max-height: 10%;
  height: auto;
  display: block;
}

.header-center{
  justify-content: center;
}

.header-center h2{
  font-family: Segoe UI;
  font-size: 23px;
}

.header-right{
  justify-content: flex-end;
  gap: 10px;
}

.room-card{
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  flex-direction: column;
  transform: border-box 0.3s ease;
}

.room-card:hover{
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.room-card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  width: 100%;
}

.room-name{
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.appliance-card{
  width: 200px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  transform: border-box 0.3s ease;
}

.appliance-card:hover{
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.top-layer{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.device-thumbnail{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.device-thumbnail img{
  max-width: 100%;
  height: auto;
  display: block;
}

.control-layer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  gap: 5px;
}

.picker-popup{
  position: absolute;
  top: 10px;
  left: 13%;
  z-index: 10;
}

.bottom-layer{
  width: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

.user-info-container, .appliance-info-container, .room-info-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 80px;
}

.user-info-container{
  background-color: rgb(201, 199, 199);
}

.appliance-info-container, .room-info-container{
  background-color: white;
}

.user-info-form-header, .appliance-info-form-header, .room-info-form-header{
  background-color: rgb(128, 160, 231);
  color: white;
  text-align: center;
  padding: 1px;
  width: 100%;
}

.user-info-form-header h2, .appliance-info-form-header h2, .room-info-form-header h2{
  font-size: 23px;
  font-family: Segoe UI;
}

.user-info-form, .appliance-info-form, .room-info-form{
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 320px;
  text-align: center;
  overflow: hidden;
}

.user-info-form form, .appliance-info-form form, .room-info-form form{
  padding: 30px 40px 40px 40px;
}

.user-info-form .ant-input, .info-form .ant-input-password, .appliance-info-form .ant-input, .info-form .ant-input-password, .room-info-form .ant-input, .info-form .ant-input-password{
    border-radius: 10px;
}

.powerButton{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

.loginHeaderButton, .registerHeaderButton, .logoutButton{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 8px;
  border-radius: 5px;
  color: white;
  font-family: Segoe UI;
  font-weight: bold;
  text-decoration: none;
  transform: background-color 0.3s ease;
}

.loginHeaderButton, .registerHeaderButton{
  border: 1px solid rgb(183, 206, 255);
  background-color: rgb(183, 206, 255);
}

.logoutButton{
  border: 1px solid rgb(145, 13, 13);
  background-color: rgb(145, 13, 13);
}

.loginButton, .registerButton{
  background-color: rgb(128, 160, 231);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 0;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginButton:hover, .registerButton:hover{
  background-color: rgb(146, 158, 190);
}

.loginButton:active, .registerButton:active{
  transform: scale(0.70);
}

.error-message h4{
  color: red;
  text-align: center;
}

.editButton, .addApplianceButton{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  text-decoration: none;
  transform: background-color 0.3s ease;
}

.editButton{
  padding: 5px 8px;
  border-radius: 5px;
  border: 1px solid rgb(183, 206, 255);
  background-color: rgb(183, 206, 255);
}

.addApplianceButton{
  margin-top: 10px;
  font-size: 15px;
  padding: 15px 8px;
  border-radius: 25%;
  border: 1px solid rgb(39, 156, 78);
  background-color: rgb(89, 196, 124);
}

.editButton:hover, .loginHeaderButton:hover, .registerHeaderButton:hover, .logoutButton:hover{
  background-color: rgb(146, 158, 190);
}

.addApplianceButton:hover{
  background-color: rgb(39, 156, 78);
}

.button-group{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.createButton, .updateButton, .deleteButton, .cancelButton{
  display: block;
  width: 100%;
  padding: 10px 0;
  margin-top: 10px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: background-color 0.3 ease, transform 0.1s ease;
}

.createButton, .updateButton{
  background-color: rgb(29, 100, 29);
}

.deleteButton{
  background-color: rgb(116, 21, 21);
}

.cancelButton{
  background-color: rgb(177, 177, 12);
}

.updateButton:active, .deleteButton:active, .cancelButton:active{
  transform: scale(0.9);
}


.incFreqButton, .decFreqButton, .controlButton, .closeButton{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  color: white;
  background-color: gray;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transform: background-color 0.3s ease;
}

.incFreqButton:hover{
  background-color: rgb(0, 148, 0);
}

.decFreqButton:hover{
  background-color: rgb(175, 3, 3);
}

.controlButton:hover{
  background-color: rgb(255, 94, 233);
  color: black;
}

.closeButton:hover{
  background-color: rgb(175, 3, 3);
  color: black;
}